<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Receivable:</b>
  <%= @message.receivable_id %>
</p>

<p>
  <b>Receivable type:</b>
  <%= @message.receivable_type %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
