<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @participant.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @participant.group_id %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
